/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing:border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: Myriad Pro;
}
ol ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.container{
	margin: 0 60px
}
.header{
	display: inline-block;
	width: 100%;
	float: left;
	padding: 25px 0 20px;
}
.header .logo{
	float: left;
	width: auto;
	margin-right: 30px;
}
.menu ul li{
	display: inline-block;
	margin-right: 25px;
}
.menu ul li a{
	text-decoration: none;
	color:darkred;
	font-size: 16px;
	font-weight: 600;
	 }
.hrader .menu{
float: left;
margin-left: 70px;
}
.header .cart{
	float: right;
	margin-bottom: 20px;
}
.slider{
	display: inline-block;
	width: 100%;
	float: left;
	position: relative;

}
.slider img{
	height: 100%;
	width: 100%;
}
.slider .slider-text{
	width: 300px;
	position: absolute;
	top:30%;
	bottom: 0;
	left: 60px;

}
.slider .slider-text h1{
	font-size: 60px;
	color: yellow;
	font-family: Tw Cen MT; 
}
.slider .slider-text p{
	font-size: 16px;
	color:#52575d;
	padding:15px 0;
	line-height: 22px;
}
.slider .slider-text a{
	display: inline-block;
	width: 150px;
	height: 45px;;
	text-align: center;
	line-height: 45px;
	color:yellow;
	text-decoration:none;
	background-color: #c824f7;
	margin-top: 25px;
	font-size: 20px;
	font-weight: 600;
}